@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-4xl font-bold text-gray-800 m-0 p-0;
  }
  h2 {
    @apply text-3xl font-bold text-gray-800 m-0 p-0;
  }
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
